<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        {% endblock %}

        {% block javascripts -%}
            <script src="{{ asset('components/es5-shim/es5-shim.js') }}"></script>
            <script src="{{ asset('components/es5-shim/es5-sham.js') }}"></script>
            <script src="{{ asset('components/jquery/dist/jquery.js') }}"></script>
            <script src="{{ asset('components/twig-js/twig.js') }}"></script>

            {% block twig_js -%}
                {% javascripts "@WouterJNoteBundle/Resources/views/Note/short.html.twig"
                    filter="twig_js" -%}
                    <script src="{{ asset_url }}"></script>
                {%- endjavascripts %}
            {%- endblock %}

            {% block requirejs -%}
                {{ include('::_requirejs.html.twig') }}
            {%- endblock %}
        {%- endblock %}
    </body>
</html>
